@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Inconsolata', monospace;
    color: rgb(244, 242, 248);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* HEADER */
 header,form {
     font-size: 20px;
     text-transform: uppercase;
     min-height: 5vh;
     padding-top: 20px;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     letter-spacing: 5px;
 }

 /* FORM */
 form input {
     padding: 5px;
     font-size: 16px;
     border: 2px solid #fafafa;
     border-radius: 5px;
 }
 form button {
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: thistle;
 }
 form button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.493);
    transition: ease-in-out 0.3s;
}
 i {
     color: white;
 }
 i:hover {
     cursor: pointer;
     color: rgba(255, 255, 255, 0.767);
 }
/* TODO CONTAINER */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 40%;
    list-style: none;
}
.todo li {
    flex: 1;
}
.todo {
    margin: 10px;
    background-color: #fafafa;
    font-size: 17px;
    color: #222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out 0.3s;
}
.todo-item {
    padding: 8px;
}
.completed-button, .eliminate-button {
    background-color: thistle;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
} 
.eliminate-button {
    background-color: rgb(115, 162, 223);
}
.completed-button:hover {
    background-color: rgba(216, 191, 216, 0.562);
    cursor: pointer;
}

.eliminate-button:hover {
    background-color: rgba(185, 184, 209, 0.562);
    cursor: pointer;
}
.fa-trash-alt, .fa-check {
    pointer-events: none;
}
.done {
    text-decoration: line-through;
    opacity: 0.5;
}
.bye-task {
    transform: translate(10px) rotateZ(20deg);
    opacity:0;
}